streamlit==1.36.0
textblob==0.17.1
Pillow==10.4.0
text2emotion==0.0.5
plotly==5.14.1
numpy
opencv-python-headless==4.8.0.74
flair==0.13.1
fer
moviepy==1.0.3
pandas==2.0.3
scipy==1.12
facenet-pytorch==2.5.3
tokenizers
sumy==0.8.1
nltk==3.8.1
tensorflow
